html {
    height: 100%;
}
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;

}
#button{
    background-color: greenyellow;
    color: darkblue;
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
}